/* FONT FACES -- start */
@font-face {
    font-family: BarlowSemiCondensedLight;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: BarlowSemiCondensedMedium;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
    font-family: BarlowSemiCondensedBold;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

/* FONT FACES -- end */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: BarlowSemiCondensedLight;
    font-size: 13px;
}

html, 
body {
    height: 100vh;
    margin-top: 0vh;
}

.attribution { font-size: 13px; text-align: center; margin-top: 1vh; margin-bottom: 1vh; }
.attribution a { color: hsl(228, 45%, 44%); }

.reviews-container, 
.left-div, 
.right-div, 
.row, 
.card {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.reviews-container {
    background-color: transparent;
    margin-top: 10vh;
}


/* CARDS -- start */
.card {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 90vw;
    border-radius: 15px;
    padding: 35px;
}

.card-heading {
    display: flex;
    flex-direction: row;
}

.card-title, 
.card-heading > .user-info > .user-name {
    font-family: BarlowSemiCondensedMedium;
}

.card-title {
    font-size: 17px;
}

.card-heading, 
.card-title {
    width: 100%;
    margin-bottom: 3.5vh;
}

.card-heading > .user-img > img {
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 3px solid white;
    width: 80%;
    height: auto;
    margin-left: 0;
}

.card-heading > .user-info {
    display: flex;
    flex-direction: column;
}

.card-heading > .user-info > .user-name {
    color: hsl(0, 0%, 100%);
    position: relative;
    top: 22%;
    left: 25%;
    -ms-transform: translate(-25%, -25%);
    transform: translate(-25%, -25%);
}

.card-heading > .user-info > .user-status {
    color: hsl(0, 0%, 50%);
    position: relative;
    top: 28%;
    left: 25%;
    -ms-transform: translate(-25%, -25%);
    transform: translate(-25%, -25%);
}

.card-body {
    line-height: 20px;
}

.card#jeanette *, 
.card#kira * {
    color: hsla(217, 19%, 35%, 0.70);
}

.card#daniel *, 
.card#jonathan *, 
.card#patrick * {
    color: hsl(0, 0%, 75%, 0.70);
}

.card#jeanette > .card-title, 
.card#kira > .card-title, 
.card#jeanette > .card-heading > .user-info > .user-name, 
.card#kira > .card-heading > .user-info > .user-name{
    color: hsl(217, 19%, 35%);
}

.card#jeanette > .card-heading > .user-info > .user-status, 
.card#kira > .card-heading > .user-info > .user-status {
    color: hsl(217, 19%, 35%, 0.5);
}

.card#daniel > .card-title, 
.card#jonathan > .card-title, 
.card#patrick > .card-title, 
.card#daniel > .card-heading > .user-info > .user-name, 
.card#jonathan > .card-heading > .user-info > .user-name, 
.card#patrick > .card-heading > .user-info > .user-name {
    color: hsl(0, 0%, 100%);
}

.card#daniel > .card-heading > .user-info > .user-status, 
.card#jonathan > .card-heading > .user-info > .user-status, 
.card#patrick > .card-heading > .user-info > .user-status {
    color: hsl(0, 0%, 100%, 0.5);
}

.card#daniel
{
    background-color: hsl(263, 55%, 52%);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 0%;
}

.card#jonathan
{
    background-color:hsl(217, 19%, 35%);
}

.card#jeanette
{
    background-color: hsl(0, 0%, 100%);
}

.card#patrick
{
    background-color: hsl(219, 29%, 14%);
}

.card#kira
{
    background-color: hsl(0, 0%, 100%);
}
/* CARDS -- end */

@media only screen and (min-width: 1440px) {
    * {
        overflow: visible;
    }

    body {
        overflow: hidden;
        overflow-y: scroll;
    }

    .reviews-container {
        width: 90vw;
        height: auto;
    }
    
    .reviews-container,  
    .row {
        display: flex;
        flex-direction: row;
    }

    .row, 
    .column {
        margin: 0;
        padding: 0;
    }

    .column {
        height: 100%;
        display: flex;
    }

    .column:nth-child(1) > .card {
        margin-left: 0;
    }

    .column:nth-child(2) > .card {
        margin-right: 0;
    }

    .right-div > .row > .column > .card {
        margin-right: 0;
    }

    .row {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 0vh;
    }
    
    .left-div, 
    .right-div {
        display: flex;
        flex-direction: column;
    }

    .left-div {
        width: 70%;
    }

    .right-div {
        width: 30%;
    }

    .row:nth-child(1) > .column:nth-child(1) {
        width: 70%;
    }

    .row:nth-child(1) > .column:nth-child(2) {
        width: 30%;
    }

    .row:nth-child(2) {
        margin-top: 2vh;
    }

    .row:nth-child(2) > .column:nth-child(1) {
        width: 30%;
    }

    .row:nth-child(2) > .column:nth-child(2) {
        width: 70%;
    }

    .card {
        width: 98%;
        height: auto;
        margin-top: 0vh;
        padding: 4vh;
    }

    .right-div, 
    .right-div > .row, 
    .right-div > .row > .column, 
    .right-div > .row > .column >.card {
        min-height: 100%;
        margin: 0 auto;
    }

    
    .right-div > .row {
        width: 100%;
    }

    .right-div > .row:nth-child(1) > .column:nth-child(1) {
        width: 80%;
    }

    .card-heading {
        margin-bottom: 1.5vh;
    }

    .card-heading > .user-img {
        width: 75px;
    } 

    .card-heading > .user-status {
        width: 80%;
    } 

    .card-body {
        font-size: .75rem;
        line-height: 1.8vh;
    }

    .card-title {
        font-size: 1rem;
        margin-bottom: 2.5vh;
    }

    .card#jeanette, 
    .card#kira {
        -webkit-box-shadow: 96px 135px 111px -100px hsla(217, 19%, 35%, 0.5);
        -moz-box-shadow: 96px 135px 111px -100px hsla(217, 19%, 35%, 0.5);
        box-shadow: 96px 135px 111px -100px  hsla(217, 19%, 35%, 0.5);
    }
    
}